{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }

		ul {
        list-style: none;
        padding: 0;
        margin: 0;
        }
        li {
          clear: both;
        }
        li button {
          -webkit-appearance: none;
          border: none;
          outline: none;
          float: right;
          cursor: pointer;
          font-size: 10px;
        }

	</style>
{% endblock %}

{% block title %}
Capstone project
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Welcome to the for Udacity's Full-Stack Nanodegree program Capstone project developed by Michal Ozieblo!</h1>

      <p class="lead">The app is able to rewrite text into fill-in questions and manage them as decks. It also allows to export questions as ANKI flashcards or in .csv format.</p>
      <p class="lead">This is an example Flask app using Bootstrap and WTForms. The app is using postgres database and it is hosted via the Heroku Services.</p>

      {{ wtf.quick_form(form) }}

      <p></p>

      <ul id="questions" style="list-style: none;">
        {% for question in questions %}
        <li>
          {{ question.question }}
          <button class="delete-button" data-id="{{ question.id }}">&cross;</button>
        </li>
        {% endfor %}
      </ul>

      <script>
        const deleteBtns = document.querySelectorAll('.delete-button');
        for (let i = 0; i < deleteBtns.length; i++) {
          const btn = deleteBtns[i];
          btn.onclick = function(e) {
            const questionId = e.target.dataset['id'];
            fetch('/questionremove/' + questionId, {
              method: 'DELETE'
            });
          }
        }
      </script>

    </div>
  </div>
</div>

{% endblock %}