{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}

{% block title %}
Capstone project
{% endblock %}

{% block content %}

<div class="/">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
      <h1 class="pt-5 pb-2">Select deck</h1>
      <p class="lead"></p>

      <a href="/"><button>Take me to the main page</button></a>

      <form action="decksettings" method="POST">

        {{ form.csrf_token }}
        {{ form.pick_the_deck }}

        <input class="delete-button" type="button" value="Delete">

      </form>

      <script>
        const deleteBtns = document.querySelectorAll('.delete-button');
        const btn = deleteBtns[0];
        btn.onclick = function(e) {
          const questionId = e.target.dataset['id'];
          const deckId = document.getElementById("removedeck").value;
          fetch('/deckremove/' + deckId, { method: 'DELETE' });
          }
      </script>

      {% for question in questions %}

        <p>{{question.sentence}}</p>
        <p>{{question.question}}</p>
        <p>{{question.answer}}</p>

        <form method="POST" action="./updatesentence">
          <input type="hidden" value="{{question.sentence}}" name="oldsentence">
          <input type="text" value="{{question.sentence}}" name="newsentence">
          <input type="submit" value="Update">
        </form>

        <form method="POST" action="./updatequestion">
          <input type="hidden" value="{{question.question}}" name="oldquestion">
          <input type="text" value="{{question.question}}" name="newquestion">
          <input type="submit" value="Update">
        </form>

        <form method="POST" action="./updateanswer">
          <input type="hidden" value="{{question.answer}}" name="oldanswer">
          <input type="text" value="{{question.answer}}" name="newanswer">
          <input type="submit" value="Update">
        </form>

      {% endfor %}

    </div>
  </div>
</div>

{% endblock %}